<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ktgk">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KTGK"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CongAnActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".RegesterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".h_congan8"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".c_congan3"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".d_congan4"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".e_congan5"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".f_congan6"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".j_congan10"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".g_congan7"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".i_congan9"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".a_congan1"
            android:parentActivityName=".CongAnActivity" />
        <activity
            android:name=".b_congan2"
            android:parentActivityName=".CongAnActivity" />
    </application>

</manifest>